{% extends "../common/base.html" %}

{% block title %}
会员中心
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/public/css/base.css">
<link rel="stylesheet" href="/public/css/fuwu_baoming.css">
{% endblock %}
{% block content %}
<div class="nav_tab">
    <div class="container clearfix">

        <!--左侧菜单-->
        {% include "../common/member_left.html" %}
        <!--左侧菜单-->

        <div class="right_car">
            <!-- 会员信息start -->
            <div class="information">
                <div class="data" id="vv">
                    <div class="title">
                        基本信息
                    </div>

                    <div class="xinxi">
                        <i>
                            <img src="/public/img//huiyuan/images/icon_03.jpg">
                        </i>用户名:&nbsp;&nbsp;{{data.thisObj.memberName}}
                    </div>


                    <div class="xinxi">
                        <i>
                            <img src="/public/img/huiyuan/images/icon_06.jpg">
                        </i>公司名称:&nbsp;&nbsp;{{data.thisObj.companyName}}
                    </div>


                    <div class="xinxi">
                        <i>
                            <img src="/public/img/huiyuan/images/icon_09.jpg">
                        </i>负责人姓名:&nbsp;&nbsp;{{data.thisObj.name}}
                    </div>


                    <div class="xinxi">
                        <i>
                            <img src="/public/img/huiyuan/images/icon_12.jpg">
                        </i>负责人手机号:&nbsp;&nbsp;{{data.thisObj.mobile}}
                    </div>


                    <div class="xinxi">
                        <i>
                            <img src="/public/img/huiyuan/images/icon_14.jpg">
                        </i>联系人邮箱:&nbsp;&nbsp;{{data.thisObj.email}}
                    </div>


                    <p class="pl">★温馨提示：会员信息已通过管委会审核，如需修改请咨询：400-658-5000</p>

                </div>
            </div>
            <!-- 会员信息end -->
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script>
    $(function () {
        $(".one").on("click", function () {
            $(this).addClass("one_actcar");
            $(this).parent().siblings().children(".two").removeClass("two_actcar");
            $(this).next().show().parent().siblings().find("ol").hide();

        });

        $(".two").on("click", function () {
            $(this).addClass("two_actcar");
            $(this).parent().siblings().children(".one").removeClass("one_actcar");
            $(this).next().show().parent().siblings().find("ol").hide();
        });
    })
</script>
{% endblock %}