
.main {
    height: 620px;
    background: #f3f3f3;
    padding-top: 60px;
    padding-bottom: 50px;

}

.main .center {
    width: 1006px;
    margin: 0 auto;

}

.main .center .title {
    font-size: 22px;
    color: #333333;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #ccc;
}

.main .center .title h3 {
    width: 120px;
    padding-left: 15px;
    float: left;
    font-size: 26px;

}

.main .center .title .tips {
    height: 40px;
    width: 300px;
    float: left;
}

.main .center .title .tips p {
    width: 300px;
    line-height: 40px;
    float: left;
    color: #e49069;
    display: none;
    margin-left: 200px;
    background-color: #fff8db;
    border: 1px solid #ffd87a;
    text-align: center;
}

.main .center .title span {
    display: block;
    width: 180px;
    float: right;
    font-size: 14px;
    color: #c3c3c4;
    height: 40px;

}

/* .main .center .title span{
    float: right;
    font-size: 14px;
    color: #c3c3c4;
    padding-right: 20px;
} */
.main .center .form {
    width: 580px;
    margin: 0 auto;
    margin-top: 60px;
}

.main .center .form ul li {
    height: 70px;
    line-height: 70px;
}

.main .center .form ul li span {
    font-size: 14px;
    float: left;
    height: 45px;
    line-height: 45px;
    width: 100px;
    text-align: center;

}

.main .center .form ul li.li1 input {
    display: block;
    float: left;
    width: 386px;
    height: 45px;
    margin-left: 12px;
    padding-left: 10px;
    border: 1px solid #ccc;
}

.main .center .form ul li.li2 input {
    display: block;
    float: left;
    width: 260px;
    height: 45px;
    margin-left: 12px;
    padding-left: 10px;
    border: 1px solid #ccc;
}

.main .center .form ul li.li2 i {
    display: block;
    width: 118px;
    height: 45px;
    overflow: hidden;
    float: left;
    /* background: url("../images/password_03.jpg") no-repeat 0 0; */
    /*margin-left: 10px;*/
    border-radius: 4px;
}

.main .center .form ul li.li2 .em {
    display: block;
    width: 118px;
    height: 45px;
    color: white;
}

.main .center .form ul li.li2 .ff {
    display: block;
    width: 114px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
    background: #c5271f;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.main .center .form ul li.li2 em {
    display: block;
    width: 114px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
    /* background: #c5271f; */
    color: white;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.main .center .form ul li.f em {
    display: block;
    width: 114px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
    /* background: #c5271f; */
    color: white;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.main .center .form div .btn {
    display: block;
    width: 384px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 0 auto;
    background: #c5271f;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 113px;

}

.mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.mask .password_1 {
    width: 434px;
    height: 196px;
    background: #e5e5e5;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -217px;
    margin-top: -98px;

}

.mask .password_1 .login {
    width: 420px;
    height: 182px;
    border: 1px solid #bababa;
    background: #fff;
    margin: auto;
    margin-top: 8px;

}

.mask .password_1 .login .title {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    font-size: 14px;
    color: #333333;
}

.mask .password_1 .login .title .off {
    display: block;
    width: 35px;
    height: 21px;
    background: url("../img/f_03.jpg") no-repeat;
    cursor: pointer;
}

.mask .password_1 .login .success {
    width: 126px;
    height: 46px;
    margin: 0 auto;

}

.mask .password_1 .login .shroutre h5 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #333333;

}
.disabled {
    background-color: #CCC !important;
    cursor: default !important;
}

/* .tips {
  
    position: fixed;
    top: 120px;
    width: 100%;
    height: 40px;
    text-align: center;
  
}

.tips p {
  
    min-width: 300px;
    max-width: 400px;
    line-height: 40px;
    margin: 0 auto;
    color: #e49069;
    display: none;
    background-color: #fff8db;
    border: 1px solid  #ffd87a;
} */