{% extends "../common/base.html" %}

{% block title %} 数据中心 {% endblock %}

{% block style %}

<link rel="stylesheet" href="/public/css/datacenter.css">
{% endblock %}
{% block content %}

<div class="content">
    <div class="data">
        <ul>
            <li ><a href="/static/datacenter"class="acti" >数据中心</a></li>
            <!--<li><a href="/trainee/list">行业人才智库</a></li>-->
            <li><a href="/expert/list">专家库</a></li>
            <!--<li><a href="/static/data_ziyuan">资源库</a></li>-->
            <!--<li><a href="/static/data_xiangmu">项目库</a></li>-->
        </ul>
        <div class="data-txt">
            <h2><i>DATA CENTER</i></h2>
            <div class="shuju">
                <p>零售业市场秩序管理专业委员会充分发挥政府与社会资本相融合的权威影响力，将政府、传统线下资源及互联网先进技术有效的整合起来，形成了零售业特有的行业人才智库
                    、专家库、项目库、资源库。</p>
                <p>四库的组建既是为了更好的综合服务，也是资源运营共享的开始。未来，管委会将逐步充盈四库，为零售业提供强有力的支撑，为政府与社会资本合作各方提供广阔平台</p>
                <h3>数据中心</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}

{% endblock %}


</body>

</html>