{% extends "../common/base.html" %}

{% block title %} 资源库 {% endblock %}

{% block style %}

<link rel="stylesheet" href="/public/css/datacenter.css">
{% endblock %}
{% block content %}

<div class="content">
    <div class="data">
        <ul>
            <li ><a href="/static/datacenter" >数据中心</a></li>
            <li><a href="/trainee/list">行业人才智库</a></li>
            <li><a href="/expert/list">专家库</a></li>
            <li><a href="/static/data_ziyuan" class="acti">资源库</a></li>
            <li><a href="/static/data_xiangmu">项目库</a></li>
        </ul>
        <div class="ziyuan">
            <h3>政府资源</h3>
            <div class="zy_jieshao">
                <div class="zy_left zy_img">
                    <img src="../public/img/zy_01.jpg" alt="" width="466px" height="314px">
                </div>
                <div class="zy_right zy_txt">
                    <div class="zy_txt_cen">
                        <h5>国资委</h5>
                        <p> 国务院国有资产监督管理委员会为国务院直属正部级特设机构，代表国家履行出资人职责。</p>
                        <p>
                            根据国务院授权，依照《中华人民共和国公司法》等法律和行政法规履行出资人职责，指导推进国有企业改革和重组；对所监管企业国有资产的保值增值进行监督，加强国有资产的管理工作；推进国有企业的现代企业制度建设，完善公司治理结构；推动国有经济结构和布局的战略性调整。</p>
                    </div>
                </div>
            </div>

            <div class="zy_jieshao">
                <div class="zy_left zy_txt">
                    <div class="zy_txt_cen">
                        <h5>商务部</h5>
                        <p> 中华人民共和国商务部是中华人民共和国设立的主管国内外贸易和国际经济合作的部门，隶属于中华人民共和国国务院。</p>
                        <p>是根据第十届全国人民代表大会第一次会议批准的国务院机构改革方案和《国务院关于机构设置的通知》（国发20038号）组建中华人民共和国商务部。</p>
                    </div>
                </div>
                <div class="zy_right  zy_img">
                    <img src="../public/img/zy_02.jpg" alt="" width="466px" height="314px">

                </div>
            </div>

            <div class="zy_jieshao">
                <div class="zy_left zy_img">
                    <img src="../public/img/zy_03.jpg" alt="" width="466px" height="314px">
                </div>
                <div class="zy_right zy_txt">
                    <div class="zy_txt_cen">
                        <h5>发改委</h5>
                        <p>中华人民共和国国家发展和改革委员会  （简称：国家发展改革委，National Development and Reform Commission）。是国务院的职能机构。国家发改委的前身是国家计划委员会，国家发展计划委员会。
                        </p>
                        <p>
                            是综合研究拟订经济和社会发展政策，进行总量平衡，指导总体经济体制改革的宏观调控部门。
                        </p>
                    </div>
                </div>
            </div>

            <div class="zy_jieshao">
                <div class="zy_left zy_txt">
                    <div class="zy_txt_cen">
                        <h5>工信部</h5>
                        <p>中华人民共和国工业和信息化部（简称：工业和信息化部，工信部），是根据2008年3月11日公布的国务院机构改革方案，组建的国务院直属部门。
                        </p>
                        <p>工业和信息化部主要职责为：拟订实施行业规划、产业政策和标准；监测工业行业日常运行；推动重大技术装备发展和自主创新；管理通信业；指导推进信息化建设；协调维护国家信息安全等。</p>
                    </div>
                </div>
                <div class="zy_right  zy_img">
                    <img src="../public/img/zy_04.jpg" alt="" width="466px" height="314px">
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block script %}

{% endblock %}


</body>

</html>