{% extends "../common/base.html" %}

{% block title %} 项目库 {% endblock %}

{% block style %}

<link rel="stylesheet" href="/public/css/datacenter.css">
{% endblock %}
{% block content %}
<div class="content">
    <div class="data">
        <ul>
            <li ><a href="/static/datacenter" >数据中心</a></li>
            <li><a href="/trainee/list">行业人才智库</a></li>
            <li><a href="/expert/list">专家库</a></li>
            <li><a href="/static/data_ziyuan">资源库</a></li>
            <li><a href="/static/data_xiangmu" class="acti">项目库</a></li>
        </ul>
        <div class="xiangmu">
            <h3>项目库</h3>
            <p>为贯彻落实党中央国务院关于《国民经济和社会发展第十三个五年规划纲要（2016-2020年）》指示精神，深化落实党中央国务院创新驱动
                发展战略，推动企业数字化改造及零售业创新发展，零售业市场秩序管理专业委员会充分发挥政府与社会资本相融合的
                权威影响力，为零售业提供强有力的资源支撑，为政府与社会资本合作各方提供广阔平台。</p>
            <ul>
                <li>
                    <img src="/public/img/data_1.jpg" alt="" width="100%" height="100%">
                    <p>地方政协组织对接项目</p>
                </li>
                <li>
                    <img src="/public/img/data_2.jpg" alt="" width="100%" height="100%">
                    <p>地方人大代表对接项目</p>
                </li>
                <li>
                    <img src="/public/img/data_3.jpg" alt="" width="100%" height="100%">
                    <p>公益爱心企业对接项目</p>
                </li>
                <li>
                    <img src="/public/img/data_4.jpg" alt="" width="100%" height="100%">
                    <p>外交部PPP项目</p>
                </li>
                <li>
                    <img src="/public/img/data_5.jpg" alt="" width="100%" height="100%">
                    <p>商务部PPP项目</p>
                </li>
                <li>
                    <img src="/public/img/data_6.jpg" alt="" width="100%" height="100%">
                    <p>国资委PPP项目</p>
                </li>
                <li>
                    <img src="../public/img/data_7.jpg" alt="" width="100%" height="100%">
                    <p>发改委PPP项目</p>
                </li>
                <li>
                    <img src="../public/img/data_8.jpg" alt="" width="100%" height="100%">
                    <p>国际企业合作对接项目</p>
                </li>
                <li>
                    <img src="../public/img/data_9.jpg" alt="" width="100%" height="100%">
                    <p>国内500强企业合作对接项目</p>
                </li>
                <li>
                    <img src="../public/img/data_10.jpg" alt="" width="100%" height="100%">
                    <p>中小型企业合作对接项目</p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}

{% endblock %}


</body>

</html>