{% extends "../common/base.html" %}
{% block title %} 管委会 {% endblock %}
{% block style %}

<link rel="stylesheet" href="/public/css/base.css">
<link rel="stylesheet" href="/public/css/nav.css">


{% endblock %}
{% block content %}


<div class="nav">

    <div class="container">
        <ul class="ul clearfix sdf">
            <li class="active">
                管委会概况
            </li>
            <li id="tt">
                管委会简介
            </li>
            <!--<li id="pp">-->
                <!--领导成员-->
            <!--</li>-->
            <li id="ii">
                组织结构
            </li>
            <!--<li id="oo">-->

                <!--常务理事-->

            <!--</li>-->
        </ul>
    </div>
</div>

<!-- <div class=."nav"></div> -->

<div class="content_tab">
    <!-- 管委会概况 -->
    <div class="car current" id="zz">
        <div class="contentarr">
            <div class="container clearfix">
                <div class="left">
                    <p>
                        零售业市场秩序管理专业委员会（以下简称“管委会”）于2018年成立，经民政部注册登记的具有社团法人资格的全国性行业组织。
                    </p>
                    <p>管委会首届顾问，名誉会长，理事都由相关行业领导出任。</p>
                </div>

                <div class="rightc">
                    <img src="/public/img/1general/002.jpg" alt="" title="" width="500" height="343"
                         style="border: 1px solid #ccc;">
                </div>
            </div>
        </div>


        <div class="web df">
            <div class="container clearfix">
                <div class="fl">
                    <img src="/public/img/1general/general_09.jpg" width="500" height="340">
                </div>
                <div class="fr">
                    <img src="/public/img/1general/general_06.jpg" width="500" height="340">
                </div>
            </div>
        </div>
    </div>


    <!-- 官委会简介 -->
    <div class="car" id="xx">
        <div class="main">
            <div class="container clearfix">
                <h3 class="title">PROFlLE</h3>
                <div class="main_left fl">
                    <div class="mian_top">
                        <img src="/public/img/2intro/intr_03.jpg" width="295" height="169">
                    </div>

                    <div class="mian_bottom">
                        <h3>管委会简介</h3>
                        <p class="p1" style="padding-right:10px;">过去一年，推动零售业智能化物联网进行的如火如荼，与之相应市场机制迎来了更高的要求。在此大趋势下，零售业市场秩序管理专业委员会（管委会）顺势而生。
                            通过管委会组织机构，面向全国零售业开展精英培训、会员服务、法务支持、信用背书、企业创新智能转型扶持等工作。
                        </p>
                      
                    </div>
                </div>


                <div class="main_left fr">
                    <img src="/public/img/2intro/2intro_10.jpg" width="580" height="348">
                </div>
            </div>
        </div>


        <div class="content">
            <div class="container">
                <div class="con">
                    <div class="title">
                        <i class="fl">
                            <img src="/public/img/2intro/intr_18.jpg">
                        </i>
                        <span>桥梁作用</span>
                    </div>

                    <div class="menu">
                        <ul class="clearfix">
                            <li>

                                <a href="#" onclick="return false">
                                    <i>★</i>
                                    <span>
                                    把国家的政策法规及时传达到零售业企业当中,并对国家的各项政策法规做出指导性解读。</span>
                                </a>
                            </li>

                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span>同时也把国家对零售业的要求传达到位。</span>
                                </a>
                            </li>


                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                <span> 把零售业基层情况、好的意见和建议等反馈给相关部门，协助国家制定相关行业政策及法规。</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="con">
                    <div class="title">
                        <i class="fl">
                            <img src="/public/img/2intro/intr_21.jpg">
                        </i>
                        <span>监督引导作用</span>
                    </div>

                    <div class="menu">
                        <ul class="clearfix">
                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span> 监督行业生产制造环节的正规化。  </span>
                                </a>
                            </li>

                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span> 监督产品质量。 </span>
                                </a>
                            </li>


                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span> 监督行业经营环境、经营手段、竞争手段等,以期维护零售业公平竞争、良性发展的市场环境。 </span>
                                </a>
                            </li>
                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span> 打击违规违法行为。  </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="contr">
                    <img src="/public/img/2intro/intr_16.jpg">
                </div>


                <div class="con">
                    <div class="title">
                        <i class="fl">
                            <img src="/public/img/2intro/intr_25.jpg">
                        </i>
                        <span>公正作用</span>
                    </div>

                    <div class="menu">
                        <ul class="clearfix">
                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span>  根据相关部门的要求，对行业内的企业进行一些如：市场准入资格，质量验证，生产资格的把控，审核。</span>
                                </a>
                            </li>

                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                <span>   对优秀的企业给予奖励，宣传，扶植。 </span>
                                </a>
                            </li>


                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span>对违规企业进行提醒，警示，甚至曝光处罚。  </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="con">
                    <div class="title">
                        <i class="fl">
                            <img src="/public/img/2intro/intr_29.jpg">
                        </i>
                        <span>统计功能</span>
                    </div>

                    <div class="menu">
                        <ul class="clearfix">
                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span> 收集行业相关数据，形成行业数据库。  </span>
                                </a>
                            </li>

                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span>为相关部门提供精准的行业数据报告。 </span>
                                </a>
                            </li>


                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span> 为相关政府部门的正确决策提供参考及智库服务。 </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="con">
                    <div class="title">
                        <i class="fl">
                            <img src="/public/img/2intro/intr_27.jpg">
                        </i>
                        <span>研究培训</span>
                    </div>

                    <div class="menu">
                        <ul class="clearfix">
                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                  <span>  对国内外的零售业进行调查研究。</span>
                                </a>
                            </li>

                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span>  为行业内企业定期举办相关行业培训。</span>
                                </a>
                            </li>


                            <li>

                                <a href="javascript:void(0)" onclick="return false">
                                    <i>★</i>
                                    <span>   定期组织行业研讨会，帮助零售业快速规范化发展。 </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!-- 领导成员 -->
    <!--<div class="car" id="cc">-->
        <!--<div class="chengyuan">-->
            <!--<div class="container">-->

                <!--&lt;!&ndash; <div class="mingyu clearfix">-->
                    <!--<div class="titlte" style="margin-top:50px;">名誉会长</div>-->


                    <!--<div class="jieshao_car clearfix">-->
                        <!--<div class="img fl">-->
                            <!--<img src="/public/img/1general/images/chengyuan_03.jpg">-->
                        <!--</div>-->
                        <!--<div class="rouese fl">-->
                            <!--<span>刁云峰</span>-->
                            <!--<p>原海尔集团电器产业集团副总裁 原中电华通通信有限公司 总裁 中国智慧城市产业联盟秘书长。</p>-->
                        <!--</div>-->
                    <!--</div>-->


                    <!--<div class="jieshao_car">-->
                        <!--<div class="img fl">-->
                            <!--<img src="/public/img/1general/images/chengyuan_03.jpg">-->
                        <!--</div>-->
                        <!--<div class="rouese fl">-->
                            <!--<span>刁云峰</span>-->
                            <!--<p>原海尔集团电器产业集团副总裁 原中电华通通信有限公司 总裁 中国智慧城市产业联盟秘书长。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div> &ndash;&gt;-->


                <!--&lt;!&ndash; <div class="mingyu clearfix" style="margin-top: 30px;">-->
                    <!--<div class="titlte">顾问</div>-->


                    <!--<div class="jieshao_car clearfix">-->
                        <!--<div class="img fl">-->
                            <!--<img src="/public/img/1general/images/chengyuan_03.jpg">-->
                        <!--</div>-->
                        <!--<div class="rouese fl">-->
                            <!--<span>刁云峰</span>-->
                            <!--<p>原海尔集团电器产业集团副总裁 原中电华通通信有限公司 总裁 中国智慧城市产业联盟秘书长。</p>-->
                        <!--</div>-->
                    <!--</div>-->


                    <!--<div class="jieshao_car">-->
                        <!--<div class="img fl">-->
                            <!--<img src="/public/img/1general/images/chengyuan_03.jpg">-->
                        <!--</div>-->
                        <!--<div class="rouese fl">-->
                            <!--<span>刁云峰</span>-->
                            <!--<p>原海尔集团电器产业集团副总裁 原中电华通通信有限公司 总裁 中国智慧城市产业联盟秘书长。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div> &ndash;&gt;-->


                <!--<div class="mingyu clearfix kk">-->
                    <!--<div class="titlte" style="padding-right: 20px;">会长</div>-->


                    <!--<div class="jieshao_car">-->
                        <!--<div class="img fl">-->
                            <!--<img src="/public/img/1general/images/tt.jpg" width="168">-->
                        <!--</div>-->
                        <!--<div class="rouese fl">-->
                            <!--<span>马骉</span>-->
                            <!--&lt;!&ndash; <p>原海尔集团电器产业集团副总裁 原中电华通通信有限公司 总裁 中国智慧城市产业联盟秘书长。</p> &ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->


                <!--<div class="mingyu clearfix">-->
                    <!--<div class="titlte wenzi">常务副会长</div>-->


                    <!--<div class="jieshao_car">-->
                        <!--<div class="img fl">-->
                            <!--<img src="/public/img/1general/images/chengyuan_03.jpg" width="168">-->
                        <!--</div>-->
                        <!--<div class="rouese fl">-->
                            <!--<span>解西恩</span>-->
                            <!--&lt;!&ndash; <p>原海尔集团电器产业集团副总裁 原中电华通通信有限公司 总裁 中国智慧城市产业联盟秘书长。</p> &ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->


            <!--</div>-->

        <!--</div>-->

    <!--</div>-->


    <!-- 组织结构 -->
    <div class="car" id="vv">
        <div class="wenzi">
            <div class="container">
               


                <div class="img">
                    <img src="/public/img/1general/images/jie_03.jpg">
                </div>
            </div>
        </div>


    </div>

    <!-- 常务理事 -->
    <div class="car" id="bb">
        <div class="container">
            <div class="material" style="margin-top: 38px;">
                <div class="title">
                    常务理事：(按姓氏笔画排名)
                </div>
                <div class="table">
                    <table width="1000" border="0" cellspacing="0" align="center">

                        <tr class="th">
                            <td class="td1">姓名</td>
                            <td>单位</td>
                            <td>职务</td>
                        </tr>


                        <tr>
                            <td>刁云峰</td>
                            <td> 海尔集团电器产业有限公司</td>
                            <td>集团副总裁</td>
                        </tr>

                        <tr>
                            <td>于孟浩</td>
                            <td> 海尔集团电器产业有限公司</td>
                            <td>集团副总裁</td>
                        </tr>

                        <tr>
                            <td>王务林</td>
                            <td> 中国电子商会智能电动汽车专业委员会</td>
                            <td>秘书长</td>
                        </tr>


                        <tr>
                            <td>王 强</td>
                            <td> 上海电子商会、上海仪电（集团）有限公司</td>
                            <td>会长、董事长、党委书记</td>
                        </tr>


                        <tr>
                            <td>刁云峰</td>
                            <td> 海尔集团电器产业有限公</td>
                            <td>集团副总裁</td>
                        </tr>
                        <tr>
                            <td>刁云峰</td>
                            <td> 海尔集团电器产业有限公</td>
                            <td>集团副总裁</td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}


{% block script %}


<script src="/public/js/js/tab.js"></script>


<script>

    $(function () {

        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return (false);
        }


        var ff = getQueryVariable("id")

        if (ff == 2) {
            $(".nav ul li").removeClass("active");
            $("#tt").addClass('active')

            $("#zz").hide()
            $("#xx").hide()
            $("#vv").hide()
            $("#bb").hide()
            $("#cc").hide()
            $("#xx").show();

        }
        if (ff == 3) {

            $(".nav ul li").removeClass("active");
            $("#pp").addClass('active')

            $("#zz").hide()
            $("#xx").hide()
            $("#vv").hide()
            $("#bb").hide()
            $("#cc").show()
        }

        if (ff == 5) {

            $(".nav ul li").removeClass("active");
            $("#oo").addClass("active");

            $("#zz").hide()
            $("#xx").hide()
            $("#vv").hide()
            $("#cc").hide()
            $("#bb").show()
        }

        if (ff == 4) {

            $(".nav ul li").removeClass("active");
            $("#ii").addClass("active");

            $("#zz").hide()
            $("#xx").hide()
            $("#bb").hide()
            $("#cc").hide()
            $("#vv").show()
        }
    })

</script>
{% endblock %}


