{% extends "../common/base.html" %}

{% block title %} 会员指南 {% endblock %}

{% block style %}

<link rel="stylesheet" href="/public/css/vip_zhinan.css">
{% endblock %}
{% block content %}
<!--content-->
<div class="content">
    <div class="data">
        <ul>
            <li><a href="/static/vip_ser" >会员服务</a></li>
            <!--<li><a href="/news/list?columnId=85">会员单位</a></li>-->
            <li><a href="/static/vip_zhinan" class="acti">服务指南</a></li>
        </ul>
        <div class="titan">
            <div class="container">
                <h6>零售业市场秩序管理专业委员会服务指南</h6>
                <div class="contet">
                    <span>一、总则</span>
                    <br>
                    <p>1.1零售业市场秩序管理专业委员会（RMRC）成立于2018年，是经民政部注册登记的具有社团法人资格的全国性行业组织，业务上受中国流通行业管理政研会领导。</p>
                    <p>1.2
                        零售业市场秩序管理专业委员会服务宗旨是：发挥零售业市场秩序管理专业委员会行业平台优势，紧密地凝聚全国零售业的企业、团体和有志之士，竭诚为企业与政府、企业与企业、企业与市场间的沟通服务，成为零售业的坚实后盾，切实协助会员企业规范经营、优势互补、资源共享，消除恶性竞争，从而实现中国零售业的高效发展。</p>
                    <p> 1.3国内从事生产、经营零售业的企业、事业、机关团体或社团组织均可提出书面申请，经零售业市场秩序管理专业委员会审核批准后，即可成为零售业市场秩序管理专业委员会会员</p>
                </div>

                <div class="contet">
                    <span>二、会员权益</span>
                    <br>
                    <p>
                        2.1向零售业市场秩序管理委员会申请协助，实现企业与政府间的沟通，通过管委会向政府反映企业的意见、建议和需求，争取通过管委会获得政府、行业组织的各种认证、项目实施等方面的支持和优惠政策；</p>
                    <p> 2.2向零售业市场秩序管理委员申请协助，实现企业与企业间的沟通，有效地在会员企业中寻求到合作伙伴，实现联营、转让等优势互补的共同发展之道；</p>
                    <p> 2.3向零售业市场秩序管理委员申请协助，实现企业与市场间的沟通，为产品寻找到买方市场和客户沟通渠道；并可向管委会申请，请求管委会为其产品召开发布会、市场推介会等；</p>
                    <p> 2.4会员企业可以利用管委会在国内的资源、渠道与行业影响力解决企业具体困难，维护企业正当的权益；</p>
                    <p> 2.5获得零售业市场秩序管理委员颁发的《零售业市场秩序管理委员常务理事单位》、《零售业市场秩序管理委员理事单位》或《零售业市场秩序管理委员直属会员单位》证书；</p>
                    <p> 2.6可在公司介绍、媒体宣传中使用“零售业市场秩序管理委员常务理事单位、零售业市场秩序管理委员单位或零售业市场秩序管理委员直属单位”字样；</p>
                    <p> 2.7优先安排参加零售业市场秩序管理委员主办的国际国内展会和交流活动；</p>
                    <p> 2.8在零售业市场秩序管理委员及其下属单位主办的所有收费活动中享受优惠待遇；</p>
                    <p> 2.9优先获得零售业市场秩序管理委员为会员企业提供的诚信企业查询、行业信息与专业咨讯、市场调研、人才培训与推荐等服务项目；</p>
                    <p> 2.10经申请审查批准后，会员可获得零售业市场秩序管理委员颁发的在本行业中的各种奖项；</p>
                    <p> 2.11享有《零售业市场秩序管理委员章程》中规定的其他相关权利。</p>
                </div>


                <div class="contet">
                    <span>三、会员义务</span>
                    <br>
                    <p> 3.1遵守国家法律法规和相关行业政策，合法经营，规范经营，诚信经营；</p>
                    <p> 3.2遵守零售业市场秩序管理委员的章程及各项规定，执行零售业市场秩序管理委员的决议，维护零售业市场秩序管理委员的荣誉；</p>
                    <p> 3.3指定专人负责与零售业市场秩序管理委员联系，将会员权益中所涉及的资料以及单位迁址、人事调动等信息，及时通知管委会，以保证信息畅通；</p>
                    <p>3.4按时按规定交纳会费；</p>
                    <p> 3.5积极参加零售业市场秩序管理委员组织的各项业务活动，并为行业和管委会的发展积极献计献策。</p>
                </div>


                <div class="contet">
                    <span>四、其他</span>
                    <br>
                    <p> 4.1凡履行会员义务、按规定缴纳会费的单位，即可延续会员资格；</p>
                    <p> 4.2公开宣布破产的会员、不按时缴纳会费的会员、有违反国家法律法规的会员，将自动失去会员资格；</p>
                    <p> 4.3本会员政策的修改权与解释权归零售业市场秩序管理委员。</p>

                  
                </div>
            </div>
        </div>
    </div>
</div>
<!--content-->
{% endblock %}


{% block script %}

{% endblock %}


</body>

</html>