{% extends "../common/base.html" %}

{% block title %} 会员服务 {% endblock %}

{% block style %}

<link rel="stylesheet" href="/public/css/vip_ser.css">
{% endblock %}
{% block content %}
<!--content-->
<div class="content">
    <div class="data">
        <ul>
            <li><a href="/static/vip_ser" class="acti">会员服务</a></li>
            <!--<li><a href="/news/list?columnId=85">会员单位</a></li>-->
            <li><a href="/static/vip_zhinan">服务指南</a></li>
        </ul>
        <div class="vip_ser">
            <div class="vip_ser_huiyuan">
                <h3>会员部</h3>
                <p>企业社交平台，能量聚变实名高净值人群</p>
                <p>全球零售业中坚力量聚集于此，帮助企业人脉，获取资源，增加生意机会</p>
                <table class="vip_tab">
                    <thead>
                    <tr>
                        <th>服务类别</th>
                        <th>细则</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>尊享身份认证</td>
                        <td>获得管委会赋予的商界认证标识，享受开放的高净值人群社交权限与活动参与优先权</td>
                    </tr>
                    <tr>
                        <td>私董会</td>
                        <td>获得管委会赋予的商界认证标识，享受开放的高净值人群社交权限与活动参与优先权</td>
                    </tr>
                    <tr>
                        <td>CEO晚餐会</td>
                        <td>参加管委会组织的面向垂直行业领域的CEO晚餐会，参与决策人群最关注的重要问题 讨论，从中获取价值</td>
                    </tr>
                    <tr>
                        <td>商务直通通道</td>
                        <td>通过管委会APP、官方微信群等社交平台，建立与顶层决策者的商务直通通道</td>
                    </tr>
                    <tr>
                        <td>企业咨询服务</td>
                        <td>获得由专家团及会员企业提供的投融资资讯、企业管理咨询、政府政策指导</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="back_bac">
        <div class="back_bai">
            <div class="vip_ser_huiyuan">
                <h3>培训部</h3>
                <p>零售业精英人才升级平台 </p>
                <p>协助政府完成人才创业扶持和人才引进政策</p>
                <table class="vip_tab">
                    <thead>
                    <tr>
                        <th>服务类别</th>
                        <th>细则</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>初级从业资格培训</td>
                        <td>参加零售行业初级培训会议，关于零售国家政策、大趋势及行业规范的学习</td>
                    </tr>
                    <tr>
                        <td>专业证书培训</td>
                        <td>由全国职业人才认证中心颁发国家认证专业资格证书</td>
                    </tr>
                    <tr>
                        <td>高级领导人培训</td>
                        <td>通过商业案例分析、实战观摩、分析与决策技能训练等培养学生的实际操作技能，使领导人接受知
                            识与技能、个性与心理、目标与愿望等方面的的挑战，更具有职业竞争的实力，而其他研究生则侧重于理论学习、学术研究</td>
                    </tr>
                    <tr>
                        <td>G-Trip全球商务考察</td>
                        <td>通过商业案例分析、实战观摩、分析与决策技能训练等培养学生的实际操作技能，使领导人接受知
                            识与技能、个性与心理、目标与愿望等方面的的挑战，更具有职业竞争的实力，而其他研究生则侧重于理论学习、学术研究</td>
                    </tr>
                    <tr>
                        <td>G-Trip名企之旅（仅限中国）</td>
                        <td>知名企业拜访，学习创新精神特色文化，拓展商务合作</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="data">
        <div class="vip_ser">
            <div class="vip_ser_huiyuan">
                <h3>政策与法务部</h3>
                <p>为企业发展壮大提供有力的政策及法律保证</p>
                <table class="vip_tab">
                    <thead>
                    <tr>
                        <th>服务类别</th>
                        <th>细则</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>风险管理</td>
                        <td style="text-align: left">1>参与谈判工作，提出减少或避免法律风险的措施和法律意见 <br/>
                            2>建立法律风险防范和预警机制，加强常规性环节法律风险控制，同时为集团内控系统提供法律支持 <br/>
                            3>就生产、经营、管理等业务方面提供法律建议及法律风险提示</td>
                    </tr>
                    <tr>
                        <td>法律事务</td>
                        <td>协助集团相关职能部门办理合作单位的资信调查事宜，发表申明、启示等事务</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="back_bac">
        <div class="back_bai">
            <div class="vip_ser_huiyuan">
                <h3>公关资源部</h3>
                <p>为企业的发展壮大提供公关资源帮助</p>
                <table class="vip_tab">
                    <thead>
                    <tr>
                        <th>服务类别</th>
                        <th>细则</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>公关管理</td>
                        <td style="text-align: left">1>与司法机关及有关政府部门保持沟通，为公司创造良好司法环境<br/>
                            2>与社会公益组织及团队保持沟通，为公司合法公益事业提供可执行环境<br/>
                            3>与地方知名律师事务所保持沟通，为公司司法建立资源组织</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="vip_botm">
        <div class="vip_botm_left">
            <img src="/public/img/vip_botm_left.png" alt="" width="100%" height="100%" >
        </div>
        <div class="vip_botm_ton">
            <div class="vip_botm_ton_top">
                <h4>零售业信用管理中心</h4>
                <p>与多个政府管理部门深度合作</p>
                <ul>
                    <li> 为企业提供产品品质质量认证服务;</li>
                    <li> 为企业提供企业公信力、企业诚信服务;</li>
                    <li> 为企业提供品牌影响力服务;</li>
                </ul>
            </div>
            <div class="vip_botm_ton_botm">
                <h4>PPP项目中心</h4>
                <p>与政府相关资源对接</p>
            </div>

        </div>
        <div class="vip_botm_right">
            <h4>零售业数字化发展中心</h4>
            <ul>
                <li>  区块链与零售业培训项目；</li>
                <li>  AR、VR与零售业培训项目；</li>
                <li>  AI与零售业培训项目；</li>
                <li>  互联网前沿风口与零售业发展趋势项目；</li>
                <li>  全球互联网大会项目;</li>
            </ul>
        </div>
    </div>
</div>
<!--content-->
{% endblock %}


{% block script %}

{% endblock %}


</body>

</html>