<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    {% block meta %}{% endblock %}
    <title>{% block title %}管委会官网{% endblock %}</title>
    <link rel="stylesheet" href="/public/css/whole.css">
    <link rel="stylesheet" href="/public/css/banner.css">
    <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon" />
    {% block style %}{% endblock %}
</head>
<body>

<!-- top -->
<div class="cont">
    <!-- logo -->
    <div class="cont-log">
        <div class="logo">
            <a href="/"><img src="/public/img/logo.png" alt="" width="100%" height="100%"></a>
        </div>
        <div class="cont-login">
            {% if ctx.session.loginUser %}
                <a href="/member/applicationList?typeName=%e5%9f%b9%e8%ae%ad" id="memcenter">会员中心</a>丨
                <a href="/member/logout">退出</a>
            {% else %}
                {% if ctx.request.url=="/member/login" %}
                <a href="javascript:;">会员登录</a>
                {% else %}
                <a href="/member/login">会员登录</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <!-- / logo -->

    <!-- 导航 -->
    <div class="content-nav">
        <div class="nav">
            <ul class="nav-ul">
                <li>
                    <a href="/" class="xia">首页</a>
                </li>
                <li>
                    <a href="/static/gwhgk">管委会概况</a>
                    <div class="xial">
                        <ul>
                            <li><a href="/static/gwhgk?id=2">管委会简介</a></li>
                            <!--<li><a href="/static/gwhgk?id=3">领导成员</a></li>-->
                            <li><a href="/static/gwhgk?id=4">组织架构</a></li>
                            <!--<li><a href="/static/gwhgk?id=5">常委理事</a></li>-->
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/news/list?columnId=77&all">管委会资讯</a>
                    <div class="xial">
                        <ul>
                            <li><a href="/news/list?columnId=78">管委会动态</a></li>
                            <li><a href="/news/list?columnId=79">政务信息</a></li>
                            <!--<li><a href="/news/list?columnId=80">管委会活动</a></li>-->
                        </ul>
                    </div>
                </li>
                <!--<li>-->
                    <!--<a href="/news/list?columnId=82&all">红黑榜</a>-->
                    <!--<div class="xial">-->
                        <!--<ul>-->
                            <!--<li><a href="/news/list?columnId=82">红榜</a></li>-->
                            <!--<li><a href="/news/list?columnId=83">黑榜</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</li>-->
                <li>
                    <a href="/static/datacenter">数据中心</a>
                    <div class="xial">
                        <ul>
                            <!--<li><a href="/trainee/list">行业人才智库</a></li>-->
                            <li><a href="/expert/list">专家库</a></li>
                            <!--<li><a href="/static/data_ziyuan">资源库</a></li>-->
                            <!--<li><a href="/static/data_xiangmu">项目库</a></li>-->
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/static/1school">商学院</a>
                    <div class="xial">
                        <ul>
                            <li><a href="/activity/list?typeName=%e5%9f%b9%e8%ae%ad">培训</a></li>
                            <li><a href="/activity/list?typeName=%e4%bc%9a%e8%ae%ae">会议</a></li>
                            <li><a href="/activity/list?typeName=%e8%ae%ba%e5%9d%9b">论坛</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/static/vip_ser">会员服务</a>
                    <div class="xial">
                        <ul>
                            <!--<li><a href="/news/list?columnId=85">会员单位</a></li>-->
                            <li><a href="/static/vip_zhinan">服务指南</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- / 导航 -->
</div>
<!--/ top -->


{% block content %}【主体内容】{% endblock %}


<!-- 底部标签 -->
<div class="footer">
    <div class="bottom">
        <ul>
            <li><a href="/static/about">关于我们</a>丨</li>
            <li><a href="/static/about?id=2">网站声明</a>丨</li>
            <li><a href="/static/about?id=3">网站地图</a>丨</li>
            <li><a href="/static/about?id=4">联系我们</a></li>
        </ul>
        <p>ICP备案证书号：京ICP备18029913号-2</p>
        <p>联系电话：400-658-5000</p>
        <p>联系地址：北京市朝阳区高碑店兴隆中街6号院</p>
        <div class="wei">
            <img src="/public/img/tuowei_03.png" width=88px" height="90px" alt="">
            <p>关注我们</p>
        </div>
    </div>
</div>
<!-- //底部标签 -->
<script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.slide.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.pagination.js"></script>
<script>
    function getNavActive(path) {
        return $(".nav-ul li a[href='" + path + "']");
    }
    $(function () {

        $(".nav-ul li").hover(function () {
            $(this).children(".xial").show();
        }, function () {
            $(this).children(".xial").hide();
        });

        var pathname = window.location.pathname + window.location.search;
        var $navActive = getNavActive(pathname);
        if ($navActive.length == 0 && $(".content .wrap > p a").length>1) {
            $navActive = getNavActive($(".content .wrap > p a:eq(1)").attr("href"));
        }
        if ($navActive.length > 0) {
            var parentsUl = $navActive.parent().parent();
            if(parentsUl.hasClass("nav-ul")){
                $navActive.css({
                    "color":"#ffffff",
                    "background-color":"#9f0f09"
                });
            }else{
                parentsUl.parent().prev().css({
                    "color":"#ffffff",
                    "background-color":"#9f0f09"
                });
            }
        }


        /*获取url参数*/
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        //分页
        var $pager = $("#pager");
        var pageCount = $pager.data("page-count");
        var total = $pager.data("page-total");
        var pageNum = $pager.data("page-num");
        $pager.pagination({
            pageCount: pageCount,
            totalData: total,
            current: pageNum,
            coping: true,
            homePage: '首页',
            endPage: '末页',
            prevContent: '上一页',
            nextContent: '下一页',
            callback: function (api) {
                var num = api.getCurrent();
                var thisHref = window.location.href;
                var hrefPageNum = getQueryString("pageNum");
                if (hrefPageNum == null) {
                    hrefPageNum = num;
                    if (window.location.search == "") {
                        window.location.href = thisHref + "?pageNum=" + hrefPageNum;
                    } else {
                        window.location.href = thisHref + "&pageNum=" + hrefPageNum;
                    }
                } else {
                    window.location.href = thisHref.replace("pageNum=" + hrefPageNum, "pageNum=" + num);
                }
            }
        });


    })
</script>
{% block script %}{% endblock %}
</body>
</html>